.txt-success {
    color: #fc8803 !important;
}

.footer-style-1 {
    background-color: #ff4e7e !important;
}
.footer-style-2 {
    background-color: #ff4e7e !important;
}

.text-primary {
    color: #144d8c !important;
}

.bg-primary {
    background: #144d8c !important;
}

.footer-style-2 {
    background: #144d8c !important;
}

.btn-primary {
    background: #144d8c !important;
    border: none !important;
}

.collection-box {
    background: #fff !important;
}
