.txt-success {
    color: #fc8803 !important;
}

.footer-style-1 {
    background-color: #ff4e7e !important;
}
.footer-style-2 {
    background-color: #ff4e7e !important;
}

.btn-primary {
    background-color: #fc8803 !important;
}
